body {
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
  }
  
 td{
   font-family: 'Luckiest Guy';
 }

 
 .medal-info-container{
   display: inline-flex;
 }
 .img-container{

  display: inline-flex;
 }
 .medal{
   max-width: 25px;
   align-self: center ;

 }