body {
    color: rgb(219, 219, 219);
    background-color: rgb(15, 17, 24);
    margin: 0;
    padding: 0;
  }
  
 td{
   font-family: 'Luckiest Guy';
 }

 
 .medal-info-container{
   display: inline-flex;
 }
 .img-container{

  display: inline-flex;
 }
 .medal{
   max-width: 25px;
   align-self: center ;

 }
 a{
   color: cadetblue;
 }